* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
h3{
  font-size: 1.4rem;
  color: #001eff;
}
/* header */
.header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #2a73dd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header .container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #2a73dd;
  text-decoration: none;
}
.header .container .logo:hover {
  color: #2a73dd;
  font-size: 2rem;
}
.header .container .navbar a {
  font-size: 1rem;
  font-weight: 600;
  color: #2a73dd;
  margin-left: 2rem;
  text-decoration: none;
  position: relative;
  transition: all 2s;
}
.header .container .navbar a:hover {
  color: red;
  font-size: 3rem;
}
.header .container .navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #2971f7;
  transition: all 1s;
}
.header .container .navbar a:hover::after, .header .container .navbar a.active::after {
  width: 100%;
}
.header .container .navbar a.active {
  color: #2a73dd;
}

.carousel {
  background-image: url(/CAPSTON-JS-master/img/product-header-bg-dark.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.carousel .main .container {
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .main .container .info {
  width: 50%;
}
.carousel .main .container .info h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #2a73dd;
  margin-bottom: 1rem;
}
.carousel .main .container .info h2:hover {
  color: #2a73dd;
  font-size: 4rem;
}
.carousel .main .container .info h3 {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 2rem;
}
.carousel .main .container .info p {
  font-size: 1rem;
  font-weight: 400;
  color: #656774;
  padding: 5px;
}
.carousel .main .container .info p:hover {
  color: #656774;
  font-size: 1rem;
}
.carousel .main .container .info .btn-info {
  background: transparent;
  border: 2px solid #2a73dd;
  border-radius: 0.6rem;
  display: inline-block;
  padding: 0 2rem;
  height: 2.5rem;
  box-shadow: 0 3px 6px #c9d8f4;
  margin: 20px 0;
}
.carousel .main .container .info .btn-info:hover {
  background-color: #2a73dd;
  color: #ffffff;
  cursor: pointer;
}
.carousel .main .container .info .btn-shop {
  height: 2.5rem;
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  border: 2px solid #2a73dd;
  padding: 0 3rem;
  margin: 20px 20px;
  display: inline-block;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  color: #c9d8f4;
  box-shadow: 0 3px 6px #c9d8f4;
}
.carousel .main .container .info .btn-shop:hover {
  color: #c9d8f4;
  font-size: 1rem;
}
.carousel .main .container .info .btn-shop:hover {
  background-color: #ffffff;
  color: #2a73dd;
  cursor: pointer;
  opacity: 1;
}
.carousel .main .container img {
  width: 50%;
}

.products {
  max-width: 1200px;
}
.products .sidebar__content{
  width: 140%;
  padding-top: 2rem;
}

.products .sidebar__content .row {
display: flex;
flex-wrap: wrap;
 margin-bottom: 50px;
 border: 2px solid #222;
 border-radius: 20px;
background-image: url(/CAPSTON-JS-master/img/product-header-bg.jpg);
font-size: 1.2rem;
font-weight: bold;
}
.products .sidebar__content .row:hover{
background-image: url(/CAPSTON-JS-master/img/product-header-bg-dark.jpg);
color: white;
transform: scale(1.2);

}
.products .sidebar__content .row .content__left{
  border-right: 2px solid black;
}
.products .sidebar__content .row .image{
  width: 50%;
}
.products .sidebar__content .row .image img {
  width: 60%;
  background-size: cover;
  
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }
  /* wrapper */
.wrapper {
    padding: 2rem;
  }
  
  .products ul {
    display: inline-block;
  }
  
  .products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 2rem;
   
    width: 30%;
  }
  
  .products ul .no-margin {
    margin-right: 0;
  }
  
  .products ul .img-product img {
    width: 100%;
  }
  
  .content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
  }
  
  .content-product .content-product-deltals {
    /* display: flex; */
    justify-content: center;
    padding-top: 1rem;
  }
  
  .main-product .content-product .content-product-deltals .price {
    color: #000;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
  .content-product .content-product-deltals .price .money {
    display: flex;
    vertical-align: middle;
   
  }
  
  .content-product .content-product-deltals .btn-cart {
    background:#007bff80;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .content-product .content-product-deltals .btn-cart:hover {
    background:#2a00ff80;
  }
  
  /* footer */
  .footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
  
  }
  
  .footer-item .img-footer {
    align-items: center;
    display: flex;
  }
  
  .footer-item .img-footer img {
    width: 100%;
  }
  
  .footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  
  .footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
  }
  
  .footer-item .social-footer li:last-child {
    margin-left: .5rem;
  }
  /* cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  /* cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  
.table td,table th{
  vertical-align: text-bottom !important;
}
button {
  border: none;
  background: none;
  outline: none;
  color:#0275d8;
  cursor: pointer;
  transition: 0.5s;
}
btn-qty{
  border: 1px solid white;
    border-radius: 50%;
    padding: 2px 5px;
}
fa{
  font-weight: 900;
}

#product_content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}








@media screen  and (max-width: 1200px){
  
}
/* Tablet */
@media screen and (max-width: 992px) {
  
}
/* phone xoay d·ªçc*/
@media screen and (max-width: 576px){
  .products{
    display: block;
  }
}


/* phonee xoay ngang */
@media screen and (max-width: 768px){


}